DB_HOST=127.0.0.1
DB_USER=job_user
DB_PASSWORD=change_me
DB_NAME=job_board
RAPIDAPI_KEY=change_me
API_TIMEOUT_MS=60000
API_MAX_ATTEMPTS=3
API_429_RETRY_MS=60000
QUERY_THROTTLE_MS=4000
JOB_FETCH_COUNTRIES=NG,ZA,SA
JOB_DATE_POSTED=week
JOB_QUERY_BATCH_SIZE=40
JOB_QUERY_CONCURRENCY=2
JOB_RETENTION_DAYS=30
