openapi: 3.1.0
info:
  title: JobsTheWorld Admin API
  version: 1.0.0
  description: Internal operational API. Never distribute this specification or its
    credential externally.
servers:
- url: https://api.jobsthe.world
paths:
  /api/admin/jobs/inventory:
    get:
      summary: Inventory status
      operationId: inventory_status
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    oneOf:
                    - $ref: '#/components/schemas/Inventory'
                    - $ref: '#/components/schemas/Busy'
                required:
                - success
                - data
          headers:
            Cache-Control:
              schema:
                const: no-store
        '400':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '500':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '401':
          description: Missing or invalid X-Admin-API-Key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '429':
          description: More than 10 authenticated admin requests/minute/process.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the rate window resets.
        '503':
          description: Server admin key is not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
      security:
      - AdminKey: []
      description: Recounts and persists bucket health without upstream calls. Returns
        daily and admin eligibility reasons. A busy response means another evaluator
        holds the MySQL lock.
  /api/admin/jobs/refresh:
    post:
      summary: Refresh bucket
      operationId: refresh_bucket
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/RefreshResult'
                required:
                - success
                - data
              example:
                success: true
                data:
                  status: complete
                  decisions:
                  - country: DE
                    category: warehouse-logistics
                    reason: disabled
          headers:
            Cache-Control:
              schema:
                const: no-store
        '400':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '500':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '401':
          description: Missing or invalid X-Admin-API-Key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '429':
          description: More than 10 authenticated admin requests/minute/process.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the rate window resets.
        '503':
          description: Server admin key is not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
            example:
              country: DE
              category: warehouse-logistics
      security:
      - AdminKey: []
      description: Synchronous, one explicit bucket. All safety gates apply; no force
        override. HTTP 200 may contain a skipped decision or busy state. Upstream
        429 opens the persistent breaker and is recorded in audit; HTTP 429 at this
        endpoint means its own admin rate limit. Allow a client timeout of at least
        120 seconds.
  /api/admin/jobs/budget:
    get:
      summary: Read budget
      operationId: read_budget
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/Budget'
                required:
                - success
                - data
          headers:
            Cache-Control:
              schema:
                const: no-store
        '400':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '500':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '401':
          description: Missing or invalid X-Admin-API-Key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '429':
          description: More than 10 authenticated admin requests/minute/process.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the rate window resets.
        '503':
          description: Server admin key is not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
      security:
      - AdminKey: []
      description: Internal only. Authenticated and never cached.
  /api/admin/jobs/audit:
    get:
      summary: Read audit
      operationId: read_audit
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/AuditPage'
                required:
                - success
                - data
          headers:
            Cache-Control:
              schema:
                const: no-store
        '400':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '500':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '401':
          description: Missing or invalid X-Admin-API-Key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '429':
          description: More than 10 authenticated admin requests/minute/process.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the rate window resets.
        '503':
          description: Server admin key is not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
      security:
      - AdminKey: []
      description: Internal only. Authenticated and never cached.
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100000
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
components:
  securitySchemes:
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-API-Key
      description: Separate server-side JOBS_ADMIN_API_KEY. Never use the RapidAPI
        key here.
  schemas:
    Error:
      type: object
      properties:
        success:
          const: false
        error:
          type: string
      required:
      - success
      - error
    Decision:
      type: string
      enum:
      - healthy
      - disabled
      - circuit_open
      - locked
      - cooldown
      - monthly_budget
      - admin_reserve
      - daily_budget
      - eligible
      - missing_key
    Bucket:
      type: object
      properties:
        country_code:
          type: string
          enum:
          - US
          - GB
          - DE
          - AU
        category_slug:
          type: string
        usable_count:
          type: integer
          minimum: 0
        fresh_3d_count:
          type: integer
          minimum: 0
        healthy:
          type: boolean
        last_evaluated_at:
          type:
          - string
          - 'null'
          format: date-time
        last_refresh_attempt_at:
          type:
          - string
          - 'null'
          format: date-time
        last_refresh_success_at:
          type:
          - string
          - 'null'
          format: date-time
        cooldown_until:
          type:
          - string
          - 'null'
          format: date-time
        lock_until:
          type:
          - string
          - 'null'
          format: date-time
        last_refresh_reason:
          type:
          - string
          - 'null'
        last_error:
          type:
          - string
          - 'null'
        reason:
          $ref: '#/components/schemas/Decision'
        adminReason:
          $ref: '#/components/schemas/Decision'
    Busy:
      type: object
      properties:
        status:
          const: busy
    Inventory:
      type: object
      properties:
        status:
          const: ok
        enabled:
          type: boolean
        budget:
          type: object
          properties:
            monthlyLimit:
              type: integer
              minimum: 0
            dailyLimit:
              type: integer
              minimum: 0
            adminReserve:
              type: integer
              minimum: 0
            monthUsed:
              type: integer
              minimum: 0
            dayUsed:
              type: integer
              minimum: 0
        circuitBlocked:
          type: boolean
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/Bucket'
    RefreshRequest:
      type: object
      properties:
        country:
          type: string
          enum:
          - US
          - GB
          - DE
          - AU
        category:
          type: string
          minLength: 1
          maxLength: 100
      required:
      - country
      - category
      additionalProperties: false
    RefreshResult:
      type: object
      properties:
        status:
          enum:
          - complete
          - busy
        decisions:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
              category:
                type: string
              reason:
                type: string
              auditId:
                type: integer
                minimum: 0
    Budget:
      type: object
      properties:
        monthlyLimit:
          type: integer
          minimum: 0
        dailyLimit:
          type: integer
          minimum: 0
        adminReserve:
          type: integer
          minimum: 0
        monthUsed:
          type: integer
          minimum: 0
        dayUsed:
          type: integer
          minimum: 0
        circuitBlocked:
          type: boolean
        blockedAt:
          type:
          - string
          - 'null'
          format: date-time
        safeHeaders:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
    Audit:
      type: object
      properties:
        id:
          type: integer
          minimum: 0
        trigger_type:
          enum:
          - daily
          - admin
        country_code:
          type: string
        category_slug:
          type: string
        query_text:
          type: string
        usable_count:
          type: integer
          minimum: 0
        fresh_3d_count:
          type: integer
          minimum: 0
        upstream_request_count:
          type: integer
          minimum: 0
        jobs_returned:
          type: integer
          minimum: 0
        inserted_count:
          type: integer
          minimum: 0
        updated_count:
          type: integer
          minimum: 0
        failed_count:
          type: integer
          minimum: 0
        decision:
          type: string
        http_status:
          type:
          - integer
          - 'null'
        safe_headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        status:
          type: string
        error_text:
          type:
          - string
          - 'null'
        started_at:
          type:
          - string
          - 'null'
          format: date-time
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
        cooldown_until:
          type:
          - string
          - 'null'
          format: date-time
    AuditPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Audit'
        page:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 0
security:
- AdminKey: []
