openapi: 3.1.0
info:
  title: JobsTheWorld Public API
  version: 1.0.0
  description: Public frontend API for querying jobs and guided matching.
servers:
- url: https://api.jobsthe.world
paths:
  /api/health:
    get:
      summary: Health
      operationId: health
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: object
                    properties:
                      status:
                        const: ok
                required:
                - success
                - data
        '400':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '500':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
  /api/jobs:
    get:
      summary: Search jobs
      operationId: search_jobs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/JobList'
                required:
                - success
                - data
              example:
                success: true
                data:
                  jobs: []
                  pagination:
                    page: 1
                    limit: 20
                    total: 0
                    totalPages: 1
          headers:
            Cache-Control:
              schema:
                type: string
              example: public, max-age=0, s-maxage=1800, must-revalidate
        '400':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '500':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
      parameters:
      - name: country
        in: query
        required: false
        description: ISO country code; US, GB, DE and AU supported, alongside retained
          markets. Unsupported countries currently behave as no country filter.
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: Canonical category slug or recognized label/alias; unknown values
          currently behave as no category filter. Category matches existing category
          aliases and title/description terms.
        schema:
          type: string
      - name: q
        in: query
        required: false
        description: Substring search across title, company, location and description.
        schema:
          type: string
      - name: city
        in: query
        required: false
        description: Substring match.
        schema:
          type: string
      - name: state
        in: query
        required: false
        description: Substring match.
        schema:
          type: string
      - name: remote
        in: query
        required: false
        description: true/1/yes/remote or false/0/no; unrecognized strings currently
          mean no filter.
        schema:
          type: string
      - name: employment_type
        in: query
        required: false
        description: Full-time, Part-time, Contract, Internship, Temporary; flexible/any
          means no filter.
        schema:
          type: string
      - name: experience_level
        in: query
        required: false
        description: Entry/no experience or experienced uses title/description keywords;
          some means no filter.
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Pagination
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        required: false
        description: Pagination
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      description: 'Search active stored jobs. TTL: free text 300s, city/state 900s,
        otherwise 1800s. Cache keys include every query dimension.'
  /api/jobs/{slug}:
    get:
      summary: Get job
      operationId: get_job
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/Job'
                required:
                - success
                - data
          headers:
            Cache-Control:
              schema:
                type: string
              example: public, max-age=0, s-maxage=3600, must-revalidate
        '400':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '500':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '404':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          minLength: 1
  /api/categories:
    get:
      summary: List categories
      operationId: list_categories
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                required:
                - success
                - data
        '400':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '500':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
      description: Retained canonical categories. Counts are currently zero placeholders,
        not live inventory counts.
  /api/match:
    post:
      summary: Match jobs
      operationId: match_jobs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/JobList'
                required:
                - success
                - data
        '400':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '500':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchRequest'
  /api/chat:
    post:
      summary: Guided chat
      operationId: guided_chat
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    const: true
                  data:
                    $ref: '#/components/schemas/ChatResult'
                required:
                - success
                - data
        '400':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
        '500':
          description: Request failed; responses are not cached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                error: Invalid request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
components:
  schemas:
    Error:
      type: object
      properties:
        success:
          const: false
        error:
          type: string
      required:
      - success
      - error
    Job:
      type: object
      properties:
        id:
          type: integer
          minimum: 0
        slug:
          type: string
        title:
          type: string
        company:
          type: object
          properties:
            id:
              type: integer
              minimum: 0
            name:
              type: string
            logoUrl:
              type:
              - string
              - 'null'
        category:
          type:
          - string
          - 'null'
        location:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        employmentType:
          type:
          - string
          - 'null'
        salaryPeriod:
          type:
          - string
          - 'null'
        isRemote:
          type: boolean
        salaryMin:
          type:
          - number
          - 'null'
        salaryMax:
          type:
          - number
          - 'null'
        postedAt:
          type:
          - string
          - 'null'
          format: date-time
        firstSeenAt:
          type:
          - string
          - 'null'
          format: date-time
        lastSeenAt:
          type:
          - string
          - 'null'
          format: date-time
        description:
          type:
          - string
          - 'null'
        applyUrl:
          type:
          - string
          - 'null'
      required:
      - id
      - slug
      - title
      - company
      - isRemote
    Pagination:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
        total:
          type: integer
          minimum: 0
        totalPages:
          type: integer
          minimum: 1
      required:
      - page
      - limit
      - total
      - totalPages
    JobList:
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/Job'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - jobs
      - pagination
    Answers:
      type: object
      properties:
        work:
          type: string
        location:
          type: string
        schedule:
          type: string
        experience:
          type: string
    MatchRequest:
      type: object
      properties:
        answers:
          $ref: '#/components/schemas/Answers'
        country:
          type: string
        city:
          type: string
        state:
          type: string
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
    ChatRequest:
      type: object
      properties:
        answers:
          $ref: '#/components/schemas/Answers'
        message:
          type: string
        city:
          type: string
        state:
          type: string
    Category:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
        count:
          type: integer
          minimum: 0
    ChatResult:
      type: object
      properties:
        message:
          type: string
        nextQuestion:
          oneOf:
          - type: 'null'
          - type: object
            properties:
              key:
                type: string
              question:
                type: string
              options:
                type: array
                items:
                  type: string
        answers:
          $ref: '#/components/schemas/Answers'
        jobs:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/JobList'
security: []
